/*CSS RESET*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-color: rgb(240, 230, 225);
	line-height: 1;
}
div > p, section > p {
  color: #354D62;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(240, 230, 225);
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #318F9F;
}
p, ul, li, div {
  font-family: 'Source Sans Pro', sans-serif;
}
li {
  padding-bottom: 3px;
}
#forMargins{
  margin-left: 20px;
  margin-right: 20px;
}
header {
  color: rgb(240, 230, 225);
  background: #0A3C60;
  text-align: center;
  height: 400px;
}
#photosFlex{
  display: flex;
  justify-content: center;
}
.photo{
  margin: 10px;
  height:130px;
  border-radius: 10px;
  border: solid 3px #318F9F;
}
#headerWords {
  padding-top: 100px;
  font-size: 30px;
}
#aboutMe p{
  text-align: center;
}
#name {
  font-size: 20px;
  font-weight: bold;
  color: #318F9F;
}
#aboutMe, #strengths, #whereImGoing, #portfolioParent{
  padding-bottom: 15px;
}
#currentWork, #strengths{
  background-color: #0A3C60;
  padding:10px;
  color: rgb(240, 230, 225);
  border-radius: 10px;
}
#currentWork h2{
  color: #318F9F;
}
#strengths h2{
  color: #318F9F;
}
.strengthIcon {
  color: rgb(240, 230, 225);
  padding-bottom: 5px;
}
ul {
  text-align: center;
  padding-bottom: 20px;
}
.bold {
  font-size: 20px;
  font-weight: bold;
  color: #318F9F;
}
#art {
	text-decoration: none;
	color: #318F9F;
	font-weight: bold;
}
#art:hover{
	color: #0A3C60;
}
#portfolioFlex > div {
  max-width: 25%;
  padding: 1px;
  text-align: center;
}
#portfolioFlex{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolioImage{
  border: 5px solid transparent;
  width: 100%;
  height: auto;
}
.portfolioImage:hover {
  border: solid #318F9F 5px;
  opacity: 0.7;
  filter: alpha(opacity=50);
}
footer {
  padding-top: 2px;
  padding-bottom: 2px;
  background: #0A3C60;
}
footer > h2, h3, p{
  padding-left: 20px;
  color: #318F9F;
}
footer > p {
  text-align: center;
}
.fa {
  text-decoration: none;
  color: rgb(240, 230, 225);
}
a > .fa:hover {
  color: #318F9F;
}
#social_icons{
  font-size: 20px;
  background: #0A3C60;
  text-align: center;
  height: 80px;
  color: rgb(240, 230, 225);
}
#social_icons a {
  padding-left: 5px;
  padding-right: 5px;
}


/*iPAD +*/
@media screen and (min-width: 700px) {
  #name {
    font-size: 25px;
  }
  .photo {
    height:250px;
    border: solid 4px #318F9F;
  }
	#strengthsFlex {
		padding-top: 10px;
		display:flex;
		justify-content: center;
	}
	ul {
		padding-left: 50px;
		padding-right: 50px;
	}
}

/*desktop +*/
@media screen and (min-width: 1367px) {
	#forMargins{
	  margin-left: 100px;
	  margin-right: 100px;
  }
  h2 {
    font-size: 2em;
  }
  p{
    font-size: 1.2em;
  }
	footer{
		padding: 30px 100px 20px 100px;
	}
  .photo {
    height:350px;
    border: solid 4px #0A3C60;
  }
  #aboutMe {
    display: flex;
  }
  #name {
    font-size: 30px;
    padding-bottom: 10px;
  }
  #intro{
    padding-bottom: 8px;
  }
  .aboutMeInformation{
    flex-grow: 50%;
  }
  #strengthsFlex {
    padding-top: 10px;
    display:flex;
    justify-content: center;
  }
  ul {
    padding-left: 50px;
    padding-right: 50px;
  }
  #whereImGoingParagraph {
    padding: 20px 40px;
  }
	#currentWork{
		width: 70%;
		margin: auto;
  }
  .spacer{
    height: 30px;
  }

}


/* 
Colors: 
Orange: #E75C41,        Brick: #B42B1F, 
Light Gray:#CDID1D4,    Blue: #354D62,      Dark Gray: #9197A1 
*/