/*mobile first*/

/*lavender #6D7993;
brownish #96858F
gray #9099A2;*/
html {
  box-sizing: border-box;
}
p {
  margin: 5px;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.divider {
  border-bottom: solid #96858F 4px;
  opacity: 0.5;
  width: 80%;
  display: block;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding-left: 0;
}
.topInfo{
  margin-top: 0px;
  background-color: #E7DFDD;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  align-items: center;
  font-size: 40px;
}
.topInfo li {
  padding-top: 3px;
  padding-bottom: 3px;
}
#extraImage{
  display: none;
}
#consultLI{
  display:flex;
  flex-flow: row;
  padding-bottom: 5px;
}
#personalConsultations {
  font-size: 30px;
  padding-right: 5px;
  padding-top: 7px;
}
#scheduleOnline{
  background: #6D7993;
  text-align: center;
  width: 90%;
  color: white;
}
.menu {
  width:100%;
  padding-left: 0;
  margin: 10px 0px 0px 0px;
  text-align: center;
  background-color: #96858F;
  font-size: 18px;
}
.menu li {
  padding-top: 3px;
  padding-bottom: 3px;
}
.menu a {
  text-decoration: none;
  color: black;
}
#logo {
  display: block;
  margin: 0 auto;
  height: 300px;
}
.menu :hover {
  color: white;
  font-weight: bold;
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  transition-delay: initial;
}
.title {
  padding: 5px;
}
p {
  padding: 2px;
}
.large{
  font-size: 25px;
  color: #6D7993;
}
.bottomInfo {
  text-align: center;
}
iframe{
  padding-top: 10px;
}
footer {
  border-bottom: 1px;
  background-color: #9099A2;
  color: white;
}
.footer li {
  padding-top: 3px;
  padding-bottom: 3px;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
  margin: 0px 40px 0px 40px;
  padding-bottom: 10px;
}
.socialMedia i {
}
.socialMedia :hover{
  color: #6D7993;
}

/*About Us Page*/
#AboutUsBody{
  margin-left: 5px;
  margin-right: 5px;
}
.imageOfEmployee{
  float: left;
  padding-right: 10px;
}
.aboutUsDescription {
  margin: 10px;
}

/*Contact Page*/

.contactFormDiv {
  background: #96858F;
  padding: 10px 0px 10px 10px;
}
input :focus {
  border: 3px solid white;
}
input, textarea {
  width: 90%;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px 0px 10px 10px;
  border: 0px;
  font-size: 30px;
}
h3 {
  color: white;
}
textarea {
  height: 200px;
  resize: none;
  border: 0px;
}
.submitButton {
  font-size: 30px;
  margin-top: 5px;
  padding: 10px 12px;
  border: 0px;
  border-radius: 4px;
  background-color: white;
}

/*FAQ*/
.FAQtitle {
  font-size: 22px;
  padding-left: 10px;
}
.answer {
  padding-left: 20px;
}

/*Services*/
.servicesParent{
  padding: 20px;
  font-size: 30px;
}
.leftServices {
  float: left;
  width: 50%;
}
.clearedDivider{
  border-bottom: solid #96858F 5px;
  opacity: 0.3;
  width: 70%;
  display: block;
  margin: 0 auto;
  clear:both;
}
.clearedParagraph {
  clear:both;
  padding: 5px;
}

/*Testimonials*/
.testiDIV{
  padding: 10px;
  width:90%;
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}
.testiQuote {
  color:black;
  background: #a998a2;
  line-height: 22px;
  font-style: italic;
  padding: 25px;
}
.testiAuthor{
text-align: right;
padding-bottom: 10px;
}




/*phone in landscape // small, general fixes*/
@media screen and (min-width: 680px) {
  h1 {
    padding-left: 20px;
  }
  /*Services*/
  .servicesParent{
    font-size: 20px;
    padding: 50px;
  }
  /*About Us*/
  #aboutUsMain{
    padding-bottom: 120px;
  }
  #AboutUsBody{
    margin-left: 5px;
    margin-right: 5px;
  }
  #assistantOne, #assistantTwo{
    clear:left;
  }
  .imageOfEmployee{
    margin: 10px;
    float: left;
    padding-right: 10px;
  }
  .aboutUsDescription {
    margin: 10px;
  }
}

@media screen and (min-width: 750px) {
  body {
    font-size: 30px;
  }
  .menu {
    font-size: 30px;
  }
  .large {
    font-size: 40px;
  }
  .title {
    padding-left: 10px;
  }
  /*Services*/
  .servicesParent{
    font-size: 30px;
  }
  .servicesParent b {
    font-size: 33px;
  }
  /*Testimonials*/
  .testiQuote{
    line-height: 35px;
  }
  /*FAQ's*/
  .FAQtitle {
    font-size: 40px;
  }
}


/*Desktop*/
@media screen and (min-width: 1380px) {
  #logo {
    height: 350px;
  }
  p {
    margin: 20px;
  }
  h1 {
    margin: 20px;
  }
  .divider {
    border-bottom: solid #96858F 7px;
  }
  .topInfo{
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .topInfo li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #consultLI{
    flex-flow: row;
    padding-bottom: 5px;
  }
  #personalConsultations {
    font-size: 40px;
    padding-right: 5px;
    padding-top: 0px;
    padding-left: 50px;
  }
  #scheduleOnline{
    flex-basis: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu {
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    background-color: #96858F;
    font-size: 35px;
  }
  .menu li {
    padding:10px 10px 10px 10px;
  }
  #extraImage{
    display: block;
  }
  #logoAndExtraImage{
    display:flex;
  }
  .menu :hover {
    color: white;
    font-weight: bold;
    transition-property: color;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: initial;
  }
  .large{
    font-size: 50px;
  }

  .bottomInfo {
    text-align: left;
  }
  iframe{
    padding-top: 20px;
  }
  footer {
    padding-left: 20px;
    border-bottom: 0px;
  }
  .footer li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .socialMedia {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  /*Contact Page*/
  input, textarea {
    margin-bottom: 12px;
    padding: 12px 0px 12px 12px;
  }

  /*FAQ*/
  .FAQtitle {
    font-size: 50px;
  }

  /*Services*/
  .servicesParent{
    padding: 50px;
  }
  .clearedDivider{
    border-bottom: solid #96858F 7px;
  }

  /*Testimonials*/
  .testiDIV{
    padding: 10px;
    width:90%;
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .testiQuote {
    line-height: 35px;
    font-style: italic;
  }
}
